# tasks file for docker
- include: centos.yml
- include: debian.yml

- name: add docker group
  group :
    name: docker
    state: present
  tags: [docker]

- name: make sure docker starts on boot
  service: 
    name: docker 
    enabled: yes 
    state: started
  tags: [docker]

- name: add ansible user to docker group
  user: 
    name: ansible
    groups: docker
    append: yes
  tags: [docker]

- name: uninstall older pip module six
  pip: 
    name: six 
    state: absent
  tags: [docker]

- name: install pip module six (pre-req)
  pip: 
    name: six 
    version: "1.9.0"
  tags: [docker]

- name: install docker-py
  pip:
    name: docker-py
    state: latest
  tags: [docker]

- name: initialize local inventory directory
  local_action: file path=/tmp/inventory state=directory
  tags: [docker]

- name: initialize inventory for server
  local_action: template src=inventory dest="/tmp/inventory/docker-{{inventory_hostname}}"
  tags: [docker]
