---
# tasks file for install
- include: centos.yml
- include: debian.yml

- name: create ansible user and the platform SSH key
  user:
    name: ansible
    uid: "{{ansible_uid}}"
    shell: /bin/bash
    password: "{{ upassword |password_hash('sha512') }}"
    generate_ssh_key: yes
    ssh_key_bits: 2048
    update_password: on_create
  tags: [install]
  notify: set true to status file after the ssh keys generation
  when: inventory_hostname == host_fqdn

- name: create ansible user on others servers
  user:
    name: ansible
    uid: "{{ansible_uid}}"
    shell: /bin/bash
    password: "{{ upassword |password_hash('sha512') }}"
    update_password: on_create
  tags: [install]
  when: inventory_hostname != host_fqdn

- name: add ansible user to wheel group
  user: 
    name: ansible
    groups: wheel
    append: yes
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "7"
  tags: [install]

- name: get platform SSH key in local
  fetch:
    src: ~/.ssh/id_rsa.pub
    dest: /tmp/ssh/id_rsa.pub
    flat: yes
  sudo_user: ansible
  tags: [install]
  when: inventory_hostname == host_fqdn

- name: authorize platform SSH key to ansible
  copy: 
    src: /tmp/ssh/id_rsa.pub
    dest: /home/ansible/.ssh/authorized_keys
  sudo_user: ansible
  tags: [install]

- name: remove platform SSH key from local 
  local_action: file path=/tmp/ssh/id_rsa.pub state=absent
  tags: [install]

# Directory for ssh keys status of generation
- name: create ssh keys generate status directory
  file:
    path: "{{ssh_keys_generate_dir}}"
    owner: ansible
    group: ansible
    state: directory
  tags: [install]

# set the key copying status flag (this flag later automates copying of the key in every container, during installation)
- name: set false to status file after the ssh keys generation
  shell: 'echo "false" > {{ssh_keys_generate_dir}}/status'
  sudo_user: ansible
  tags: [install]

- name: add ssh deployer key to ansible
  authorized_key: 
    user: ansible 
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
  tags: [install]

- name: create base directory
  file: 
    path: "{{base_dir}}" 
    state: directory
    mode: "0777"
  tags: [install]
