---
# tasks file for init
- debug: var="{{home_}}"

# Directory for docker
- name: create docker directory
  file:
    path: "{{docker_home}}"
    state: directory
  tags: [install]

# Base directory for image repository
- name: create repo directory
  file:
    path: "{{repo_dir}}"
    state: directory
  tags: [install]

# Base directory for registry datas
- name: create registry data
  file:
    path: "{{docker_home}}/registry_data"
    state: directory
  tags: [registry]

# Directory for config files
- name: create certs directory
  file:
    path: "{{docker_home}}/certs"
    state: directory
  tags: [nginx]

# Copy the config files
- name: copy certs
  template: 
    src: "{{item}}"
    dest: "{{docker_home}}/certs/{{item}}"
  with_items:
  - registry.conf
  - registry.password
  register: copy_certs_result
  tags: [nginx]

- name: set value changed to copy_certs_changed variable
  set_fact:
    copy_certs_changed: copy_certs_result.changed
  tags: [nginx]

- name: get local certs in home
  fetch:
    src: "~/certs/{{item}}"
    dest: "/tmp/certs/{{item}}"
    flat: yes
  with_items:
  - registry.crt
  - registry.key
  tags: [nginx]

- name: copy local certs
  copy: 
    src: "/tmp/certs/{{item}}"
    dest: "{{docker_home}}/certs/{{item}}"
  with_items:
  - registry.crt
  - registry.key
  register: copy_local_certs_result
  tags: [nginx]

- name: set value changed to copy_local_certs_changed variable
  set_fact:
    copy_local_certs_changed: copy_local_certs_result.changed
  tags: [nginx]

- name: remove local certs from home 
  local_action: file path=/tmp/certs/{{item}} state=absent
  with_items:
  - registry.crt
  - registry.key
  tags: [nginx]

- name: create scripts directory
  file: 
    path: "{{scripts_dir}}" 
    state: directory
    mode: "0755"
  tags: [install]

- name: copy bash scripts 
  copy:
    src: ~/plateforme/logitheque/scripts/
    dest: "{{scripts_dir}}/" 
    mode: "0755"
  tags: [install]

- name: copy groovy scripts 
  copy:
    src: ~/plateforme/logitheque/groovy/
    dest: "{{scripts_dir}}/" 
    mode: "0644"
  tags: [install]

- name: create recipes directory
  file: 
    path: "{{recipes_dir}}" 
    state: directory
  tags: [ansible]

- name: copy recipes scripts 
  copy:
    src: ~/plateforme/logitheque/recipes/
    dest: "{{recipes_dir}}/" 
    mode: "0644"
  tags: [ansible]

- name: copy registry reference file
  template:
    src: registry.yml
    dest: "{{recipes_dir}}/"
  tags: [ansible]

- name: copy inventory for servers
  copy:
    src: /tmp/inventory/
    dest: "{{recipes_dir}}/"
  tags: [ansible]

- name: remove local inventory directory
  local_action: file path=/tmp/inventory state=absent
  tags: [ansible]
