---
# tasks file for init

# Directory for docker
- name: create repo directory
#  
  file:
    path: "{{docker_home}}"
    state: directory
           
# Base directory for image repository
- name: create repo directory
  file:
    path: "{{repo_dir}}"
    state: directory

# Base directory for registry datas
- name: create registry data
  file:
    path: "{{docker_home}}/registry_data"
    state: directory

# Directory for config files
- name: create certs directory
  file:
    path: "{{docker_home}}/certs"
    state: directory

# test
- name: copy certs - test
  copy:
    src: "registry.crt"
    dest: "{{docker_home}}/certs/registry.crt"
                     
# Copy the config files
- name: copy certs
  copy: 
#   src: "{{docker_path}}/certs/{{item}}"
    src: "{{item}}"
    dest: "{{docker_home}}/certs/{{item}}"
  with_items:
  - registry.crt
  - registry.conf
  - registry.key
  - registry.password
#  notify: restart nginx container
