---
# handlers file for tomcat

# set write permission to Tomcat's autodeploy directory
- name: set credentials for webapps directory
  command: docker exec {{component_name}}_{{env}} sh -c 'chmod a+w /usr/local/tomcat/webapps'
  tags: [tomcatComponent]