---
# handlers file for common
- name: stop ansible container
  docker:
    name: ansible
    image: "polymont/ansible:centos7"
    state: stopped
    docker_api_version: 1.18
  tags: [ansible]
  notify: restart ansible container

- name: stop registry container
  docker:
    name: registry
    image: "polymont/registry"
    state: stopped
  tags: [registry]
  notify: restart registry container

- name: check or build ansible image
  docker_image: 
    path: "{{ansible_dir}}"
    name: "polymont/ansible"
    tag: "centos7"
    state: build
  tags: [ansible]

- name: check or build ubuntu image
  docker_image: 
    path: "{{ubuntu_dir}}"
    name: "polymont/ubuntu"
    state: build
  tags: [ubuntu]
  notify: 
  - check or build java image
  - check or build remote image

- name: stop remote container
  docker:
    name: remote
    image: "polymont/remote"
    state: stopped
    docker_api_version: 1.18
  tags: [remote]
  notify: restart remote container

- name: check or build remote image
  docker_image: 
    path: "{{remote_dir}}"
    name: "polymont/remote"
    state: build
  tags: [remote]

- name: check or build java image
  docker_image:
    path: "{{java_dir}}"
    name: "polymont/java"
    tag: jdk8
    state: build
  tags: [java]
  notify:
  - stop gitblit container
  - stop jenkins container
  - check or build gitblit image
  - check or build tomcat image

- name: stop gitblit container
  docker:
    name: gitblit
    image: "polymont/gitblit"
    state: stopped
    docker_api_version: 1.18
  tags: [gitblit]
  notify: restart gitblit container

- name: check or build gitblit image
  docker_image:
    path: "{{gitblit_dir}}"
    name: "polymont/gitblit"
    state: build
  tags: [gitblit]

- name: check or build tomcat image
  docker_image:
    path: "{{tomcat_dir}}"
    name: "polymont/tomcat"
    tag: "8"
    state: build
  tags: [tomcat]
  notify:
  - stop jenkins container
  - check or build jenkins image
  - wait nginx initialisation
  - tag tomcat image

- name: stop jenkins container
  docker:
    name: jenkins
    image: "polymont/jenkins"
    state: stopped
    docker_api_version: 1.18
  tags: [jenkins]
  notify: restart jenkins container

- name: check or build jenkins image
  docker_image:
    path: "{{jenkins_dir}}"
    name: "polymont/jenkins"
    state: build
  tags: [jenkins]

- name: check or build registry image
  docker_image: 
    path: "{{registry_dir}}"
    name: "polymont/registry" 
    state: build
  tags: [registry]

- name: check or build nginx image
  docker_image: 
    path: "{{nginx_dir}}"
    name: "polymont/nginx" 
    state: build
  tags: [nginx]

- name: restart ansible container
  docker:
    name: ansible
    image: "polymont/ansible:centos7"
    state: reloaded
    stdin_open: yes
    ports:
    - "{{ansible_container_ssh_port}}:22"
    volumes: 
    - "{{recipes_dir}}:/opt/recipes"
    docker_api_version: 1.18
  tags: [ansible]

- name: restart remote container
  docker:
    name: remote
    image: "polymont/remote"
    state: reloaded 
    stdin_open: yes
    ports:
    - "{{remote_ssh_port}}:22"
    volumes: 
    - "{{scripts_dir}}:/opt/scripts"
    docker_api_version: 1.18
  tags: [remote]

- name: restart gitblit container
  docker:
    name: gitblit
    image: "polymont/gitblit"
    state: reloaded
    ports:
    - "127.0.0.1:8080:8080"
    - "{{git_port}}:9418"
    - "{{gitblit_port}}:29418"
    - "{{gitblit_ssh_port}}:22"
    volumes:
    - "{{gitblit_home_dir}}:/var/gitblit_home:rw"
    docker_api_version: 1.18 
  register: restart_gitblit_result
  notify: 
  - set value changed to restart_gitblit_changed variable
  tags: [gitblit]

- name: set value changed to restart_gitblit_changed variable
  set_fact:
    restart_gitblit_changed: restart_gitblit_result.changed
  tags: [gitblit]
  
- name: restart jenkins container
  docker:
    name: jenkins
    image: "polymont/jenkins"
    state: reloaded
    ports:
    - "127.0.0.1:9080:8080"
    - "{{jenkins_ssh_port}}:22"
    volumes:
    - "{{jenkins_home_dir}}:/var/jenkins_home:rw"
    - "{{scripts_dir}}:/opt/scripts"
    docker_api_version: 1.18
  register: restart_jenkins_result
  notify: 
  - set value changed to restart_jenkins_changed variable
  tags: [jenkins]

- name: set value changed to restart_jenkins_changed variable
  set_fact:
    restart_jenkins_changed: restart_jenkins_result.changed
  tags: [jenkins]
  
- name: restart registry container
  docker:
    name: registry
    image: "polymont/registry"
    state: reloaded
    ports:
    - "127.0.0.1:5000:5000"
    - "{{registry_ssh_port}}:22"
    volumes:
    - "{{registry_data}}:/var/lib/registry"
    env:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
    docker_api_version: 1.18
  register: restart_registry_result
  notify:
  - set value changed to restart_registry_changed variable
  tags: [registry]

- name: set value changed to restart_registry_changed variable
  set_fact:
    restart_registry_changed: restart_registry_result.changed
  tags: [registry]
  
- name: Starting nginx container management
  command: "echo Starting nginx container management"
  changed_when: true
  notify:
  - stop nginx container
  - restart nginx container
  when: stop_restart_nginx_container

- name: stop nginx container
  docker:
    name: nginx
    image: "polymont/nginx"
    state: absent
  tags: [nginx]

- name: restart nginx container
  docker:
    name: nginx
    image: "polymont/nginx"
    state: reloaded
    ports:
    - "80:80"
    - "443:443"
    - "{{nginx_ssh_port}}:22"
    links:
    - registry:registry
    - gitblit:gitblit
    - jenkins:jenkins
    volumes:
    - "{{docker_home}}/certs/:/etc/nginx/conf.d"
    docker_api_version: 1.18 
  tags: [nginx]

- name: wait nginx initialisation
  pause:
    seconds: "20"
  tags: [nginx]
  when: stop_restart_nginx_container

- name: tag tomcat image
  script: tagDockerImage.sh polymont/tomcat:8 {{inventory_hostname}}
