---
# handlers file for common
- name: check or build java image
  docker_image:
    path: "{{java_dir}}"
    name: "polymont/java"
    tag: jdk8
    state: build
  tags: [java]
  notify:
  - stop gitblit container
  - stop jenkins container
  - check or build gitblit image
  - check or build tomcat image

- name: stop gitblit container
  docker:
    name: hub_gitblit_1
    image: "polymont/gitblit"
    state: stopped
    docker_api_version: 1.18
  tags: [hub]
  notify: restart gitblit container

- name: stop jenkins container
  docker:
    name: jenkins
    image: "polymont/jenkins"
    state: stopped
    docker_api_version: 1.18
  tags: [hub]
  notify: restart jenkins container

- name: check or build gitblit image
  docker_image:
    path: "{{gitblit_dir}}"
    name: "polymont/gitblit"
    state: build
  tags: [hub]

- name: check or build tomcat image
  docker_image:
    path: "{{tomcat_dir}}"
    name: "polymont/tomcat"
    tag: "8"
    state: build
  tags: [tomcat]
  notify:
  - stop jenkins container
  - check or build jenkins image

- name: check or build jenkins image
  docker_image:
    path: "{{jenkins_dir}}"
    name: "polymont/jenkins"
    state: build
  tags: [jenkins]

- name: restart gitblit container
  docker:
    name: hub_gitblit_1
    image: "polymont/gitblit"
    state: restarted
    ports:
    - "127.0.0.1:8080:8080"
    - "9418:9418"
    - "29418:29418"
    docker_api_version: 1.18 
  tags: [hub]
  notify: restart nginx container

- name: restart jenkins container
  docker:
    name: jenkins
    image: "polymont/jenkins"
    state: started
    ports:
    - "127.0.0.1:9080:8080"
    volumes:
    - "{{docker_home}}/jenkins_home:/var/jenkins_home:rw"
    docker_api_version: 1.18
  tags: [jenkins]
  notify: restart nginx container

- name: restart nginx container
  docker:
    name: hub_nginx_1
    image: "polymont/nginx"
    state: restarted
    ports:
    - "80:80"
    - "443:443"
    links:
    - hub_registry_1:registry
    - hub_gitblit_1:gitblit
    - jenkins:jenkins
    volumes:
    - /docker/certs/:/etc/nginx/conf.d
    docker_api_version: 1.18 
  tags: [hub]
