---
# tasks file for gitblit

- name: create gitblit direcory
  file:
    path: "{{gitblit_dir}}"
    state: directory
  tags: [gitblit]

- name: create gitblit data
  file:
    path: "{{docker_home}}/gitblit_data"
    state: directory
    mode: a+wx
  tags: [gitblit]

- name: copy gitblit files
  copy:
    src: "{{item}}"
    dest: "{{gitblit_dir}}/{{item}}"
    mode: a+x
  with_items:
  - add_users.sh
  - start.sh
  - gitblit.sh
  notify:
    - stop gitblit container
    - check or build gitblit image
  tags: [gitblit]

- name: copy gitblit dockerfile
  template:
    src: Dockerfile
    dest: "{{gitblit_dir}}/Dockerfile"
  notify:
    - stop gitblit container
    - check or build gitblit image
  tags: [gitblit]

- name: check gitblit image
  docker_image:
    path: "{{gitblit_dir}}"
    name: "polymont/gitblit"
    state: present
  tags: [gitblit]

- name: gitblit container
  docker:
    name: gitblit
    image: "polymont/gitblit"
    state: started
    volumes:
    - "{{gitblit_home_dir}}:/var/gitblit_home:rw"
    ports:
    - "127.0.0.1:8080:8080"
    - "9418:9418"
    - "{{gitblit_port}}:29418"
    - "{{gitblit_ssh_port}}:22"
    docker_api_version: 1.18 
  notify:
  - stop nginx container
  tags: [gitblit, hub]

- name : wait gitblit initialisation
  pause:
    seconds: "60"
  tags: [gitblit]

- name : configure gitblit
  script: "configure.sh {{gitblit_admin_password}}"
  tags: [gitblit]
