---
# tasks file for registry image

- name: create docker-image directory for registry
  file:
    path: "{{registry_dir}}"
    state: directory
  tags: [registry]

- stat: path="{{registry_dir}}/id_rsa.pub"
  register: registry_id_rsa

# when 'generated' flag is present, copy rsa keys for enabling ssh connections
- name: copy ssh keys to registry role
  command: cp -u ~/.ssh/id_rsa.pub {{registry_dir}}
  notify:
  - stop registry container 
  - check or build registry image
  tags: [registry]
  when: generated.stdout == "true" or registry_id_rsa.stat.exists == False

- name: copy registry exec file
  copy: 
    src: registry.sh
    dest: "{{registry_dir}}/registry.sh"
    mode: a+x
  notify:
  - stop registry container 
  - check or build registry image
  tags: [registry]

- name: copy registry dockerfile
  copy: 
    src: Dockerfile
    dest: "{{registry_dir}}/Dockerfile"
  notify:
  - stop registry container 
  - check or build registry image
  tags: [registry]

- name: check/make registry image
  docker_image: 
    path: "{{registry_dir}}"
    name: "polymont/registry" 
    state: present
  tags: [registry]

- name: registry container
  docker:
    name: registry
    image: "polymont/registry"
    state: started
    ports:
    - "127.0.0.1:5000:5000"
    - "{{registry_ssh_port}}:22"
    volumes:
    - "{{registry_data}}:/var/lib/registry"
    env:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
    docker_api_version: 1.18
  register: registry_container_result
  tags: [registry, start]

- name: set value changed to registry_container_changed variable
  set_fact:
    registry_container_changed: registry_container_result.changed
  tags: [registry]
