---
# handlers file for mysql

# wait some time for startup of the component, before allowing further configuration tasks
- name : wait mysql initialisation
  pause:
    seconds: "{{database.max_startup_time}}"
  tags: [mysqlComponent]

# apply SQL script on database
- name: execute mysql database script
  command: docker exec {{component_name}}_{{env}} sh -c 'mysql --default-character-set=utf8 --user=root --password={{database.password}} mysql < /var/lib/mysql/{{item}}'
  with_items: "{{database.scripts}}"
  tags: [mysqlComponent]
