---
# tasks file for nginx image

- name: create docker-image directory for nginx
  file:
    path: "{{nginx_dir}}"
    state: directory
  tags: [nginx]

- stat: path="{{nginx_dir}}/id_rsa.pub"
  register: nginx_id_rsa

# when 'generated' flag is present, copy rsa keys for enabling ssh connections
- name: copy ssh keys to nginx role
  command: cp -u ~/.ssh/id_rsa.pub {{nginx_dir}}
  notify:
  - stop nginx container 
  - check or build nginx image
  tags: [nginx]
  when: generated.stdout == "true" or nginx_id_rsa.stat.exists == False

- name: copy nginx dockerfile
  copy: 
    src: Dockerfile
    dest: "{{nginx_dir}}/Dockerfile"
  notify:
  - stop nginx container 
  - check or build nginx image
  tags: [nginx]

- name: check/make nginx image
  docker_image: 
    path: "{{nginx_dir}}"
    name: "polymont/nginx" 
    state: present
  tags: [nginx]

- name: nginx container
  docker:
    name: nginx
    image: "polymont/nginx"
    state: started
    ports:
    - "80:80"
    - "443:443"
    - "{{nginx_ssh_port}}:22"
    links:
    - registry:registry
    - gitblit:gitblit
    - jenkins:jenkins
    volumes:
    - "{{docker_home}}/certs/:/etc/nginx/conf.d"
    docker_api_version: 1.18
  tags: [nginx, hub]
