---
# tasks file for tomcat application deployment

- name: inject application war file in tomcat
  # Inject the war file in the container, under /usr/local/tomcat/webapps
  copy:
    # Inject in tomcat autodeploy dir 
    src: "/tmp/{{env}}/{{tomcat.appserver.war}}"
    dest: "/usr/local/tomcat/webapps"
  tags: [tomcatDeployer]