---
# ansible playbook for ansible role and image

- name: create docker-image directory for ansible
  file:
    path: "{{ansible_dir}}"
    state: directory
  tags: [ansible]

- stat: path="{{ansible_dir}}/id_rsa.pub"
  register: ansible_id_rsa

# when 'generated' flag is present, copy rsa keys for enabling ssh connections
- name: copy ssh keys to ansible role
  command: cp -u ~/.ssh/{{item}} {{ansible_dir}}
  with_items:
    - id_rsa.pub
    - id_rsa   
  notify:
    - stop ansible container
    - check or build ansible image
  tags: [ansible]
  when: generated.stdout == "true" or ansible_id_rsa.stat.exists == False

- name: copy ansible dockerfile
  copy:
    src: Dockerfile
    dest: "{{ansible_dir}}/Dockerfile"
  notify:
    - stop ansible container
    - check or build ansible image
  tags: [ansible]

- name: create ansible on centos 7 image
  docker_image: 
    path: "{{ansible_dir}}" 
    name: "polymont/ansible" 
    tag: "centos7"
    state: present
  tags: [ansible]

- name: run ansible on centos7 container
  docker:
    name: ansible
    image: "polymont/ansible:centos7"
    state: started 
    stdin_open: yes
    ports:
    - "{{ansible_container_ssh_port}}:22"
    volumes: 
    - "{{recipes_dir}}:/opt/recipes"
    docker_api_version: 1.18
  tags: [ansible, start]
