- name: create ansible on centos 7 image
  docker_image: 
    path: "./roles/ansible/files" 
    name: "devops/ansible-on-centos7" 
    state: build
  tags: [ansible]

- name: create recettes directory
  file: path=/recettes state=directory
  # TODO: add all ansible project/playbooks...

- name: run ansible on centos7 container
  docker:
    name: ansible
    image: "devops/ansible-on-centos7"
    state: restarted 
    stdin_open: yes
    volumes: 
    - recettes